{% extends 'base.html' %}

{% block content %}
    {% load crispy_forms_tags %}
    <div class="card">
        <div class="card-body" style="background-color: #fafafa">
            <div class="form_wrappers">
                <form method="POST" action="{% url 'web_createorder' %}">
                    <div class="form_wrapper">
                        {% csrf_token %}
                        {{ form|crispy }}
                    </div>

                    <div>
                        <button type="submit" name="add" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
