{% extends 'base.html' %}

{% block content %}
    <h1>Account</h1>

    <h2>Current Stock Portfolio</h2>

    <table class="table table-striped">
        <thead class="table-dark">

        <tr>
            <th scope="col">WKN</th>
            <th scope="col">Stock Name</th>
            <th scope="col">Quantity</th>
        </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <th>{{ stock.wkn }}</th>
                <th>{{ stock.name }}</th>
                <th>{{ stock.quantity }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}