<style>
    .False {
    background-color: rgb(248, 110, 117);
  }

  .True {
    background-color: rgb(116, 246, 116);
  }


</style>


{% extends 'base.html' %}

{% block content %}
    <h1>Order History</h1>

    <table class="table table-striped">
        <thead class="table-dark">

        <tr>
            <th scope="col">WKN</th>
            <th scope="col">Stock Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Total</th>
            <th scope="col">Time</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for match in matches %}
            <tr>
                <th> {{ match.stock.wkn }}</th>
                <th> {{ match.stock.name }}</th>
                <th> {{ match.quantity_transaction }}</th>
                <th> {{ match.price_sold }}$</th>
                <th> {% widthratio match.quantity_transaction 1 match.price_sold %}$</th>
                <th> {{ match.timestamp }}</th>
                <th> {% if match.user_buyer == user %}BUY{% else %}SELL{% endif %} </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
